.Input {
  display: flex;
  position: relative;
  svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 8px 5px;
    position: absolute;
    top: 3px;
    left: 3px;
    color: #c4c4c4;
    &:hover,
    &:active {
      color: #949494;
    }
  }
  input {
    font-size: 22px;
    padding: 10px 5px;
    padding-left: 50px;
    width: 100%;
    border: 1px solid #c4c4c4;
    outline: none;
    font-family: "Montserrat", sans-serif;
    // position: relative;
    &::placeholder {
      color: #c4c4c483;
    }
  }
  .error {
    position: absolute;
    left: 48px;
    top: -18px;
    font-size: 15px;
    color: red;
    font-weight: 800;
    animation: errorShake 0.1s 4;
  }
  .saveButton {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 22px;
    border: none;
    border-radius: 8px;
    background-color: rgb(0, 128, 0);
    color: #fff;
    &:hover,
    &:active {
      background-color: rgb(0, 108, 0);
    }
  }
}
@keyframes errorShake {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: rotate(-0.5deg);
    transform: translateX(-1px);
  }
  100% {
    transform: rotate(0.5deg);
    transform: translateY(1px);
  }
}
