.todoList {
  display: flex;
  // first
  flex-direction: column-reverse;
  &.last {
    // last
    flex-direction: column;
  }
}
.todoItem {
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat", sans-serif;
  border: 1px solid #c4c4c4;
  border-top-color: #c4c4c43d;
  border-bottom-color: #c4c4c43d;
  svg {
    cursor: pointer;
    width: 30px;
    height: 30px;
    padding: 10px;
    // opacity: 0;
  }
  .leftPart {
    display: flex;
    align-items: center;
    .icon {
      opacity: 0;
      &:hover {
        transition: all 0.5s;
        opacity: 1;
      }
    }
    span {
      cursor: pointer;
      font-weight: 300;
      font-size: 25px;
    }
  }
  .rightPart {
    svg {
      opacity: 0;
    }
  }
  svg:hover,
  svg:active {
    transition: all 0.5s;
    opacity: 1;
  }
}
